<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row d-flex justify-content-center h-100">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="username">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="password"><br/>
            </div>
            <button type="submit" class="btn btn-primary float-right" (click)="login()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-dialog #modalprompt></app-modal-dialog><br/>