<div class="card card-body">

<p>
  Category List
</p>
<table class="table table-bordered table-condensed">
  <tr><th>Name</th><th>Test Count</th><th>Actions</th></tr>
  <tr *ngFor="let cat of categories">
    <td>{{cat.name}}</td>
    <td>{{cat.testCount}}</td>
    <td style="text-align: right">
        <button type="button" class="btn btn-primary" [routerLink]="['../' + cat.id]">Edit</button>
        <button type="button" class="btn btn-alert" (click)="deleteCategory(cat)"  [disabled]="cat.testCount > 0">Delete</button>
    </td>
  </tr>
</table>

</div>